@tailwind base;
@tailwind components;
@tailwind utilities;

.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-hexagon {
    width: 134px;
    height: 134px;
    display: inline-block;
    position: relative;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    clip-path: polygon(0 26%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background: linear-gradient(155.89deg, #ffcc21 8.26%, #ff963c 91.18%);
    background-repeat: no-repeat;
    transition: background-position-y ease-in-out 250ms;
}

.btn-default {
    background: linear-gradient(32.95deg, #ffcc21 8.75%, #ff963c 86.64%);
    border-radius: 5px;
}

.scroll-custom::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #777777;
    border-radius: 3px;
}
.scroll-custom::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    padding: 20px;
}
.scroll-custom::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #ffcc21;
}
